
@{
    ViewData["Title"] = "Index";
}

<main>
        <div class="container">
            <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Avqust</th>
                        <th scope="col">Sentyabr</th>
                        <th scope="col">Oktyabr</th>
                        <th scope="col">Noyabr</th>
                        <th scope="col">Dekabr</th>
                        <th scope="col">Yanvar</th>
                        <th scope="col">Fevral</th>
                        <th scope="col">Mart</th>
                        <th scope="col">Aprel</th>
                        <th scope="col">May</th>
                        <th scope="col">Iyun</th>
                        <th scope="col">Iyul</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Az dili</td>
                        <td>50</td>
                        <td>50</td>
                        <td colspan="10">50</td>
                        <td class="full">150 AZN</td>
                      </tr>
                      <tr>
                        <th scope="row" colspan="14">1</th>
                        <td class="full">150 AZN</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            </div>
        </div>
    </main>

